<html>
  <head>
    <title><%=title %></title>
    <link rel="stylesheet"  type="text/css" href="/style.css">
  </head>
  <body>
    <div class="header">
      <h1>Message Board</h1>
      <a href="/new">Send a message</a>
    </div>
    <div class="messages-container">
      <% messages.forEach((message,index)=>{ %>
        <div class="message-card">
          <div class="message-user"><%= message.user %></div>
          <div class="message-text"><%= message.text %></div>
          <div class="message-date"><%= message.added %></div>
          <a href="/details?index=<%=index%>" class="message-link">Open</a>
        </div>
      <% }) %>
    </div>
  </body>
</html>
